// GLOBAL VARIABLES

$light-grey: #F4F4F4;
$dark-grey: #525252;
$primary-color: #D02139;

// SASS COMPONENTS

%serif {
 font-family: 'Roboto Slab', serif; 
}


// GENERAL STYLES

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

p { @extend %serif; }

a {
  position: relative;
  text-decoration: none;
  transition: 0.2s ease-in-out 0s;
}

a:hover {
  color: #959595;
  transition: 0.2s ease-in-out 0s;
}

nav {
  background-color: $dark-grey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;

  a {
    color: $dark-grey;
  }
  
  
  .top-bar-left {
    a:hover {
      color: #000;
    }

    a:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 6px;
      left: 0;
      background-color: $primary-color;
      visibility: hidden;

      transform: scaleX(0);
      transition: 0.3s ease-in-out 0s;
    }
  }

  a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }   
}


section {
  padding: 3em 0;
}

footer {
  @include grid-column(12);
  padding: 1em 0;

  background-color: $dark-grey;
  
  .footertext {
    @include grid-column(8);
    
    font-size: 0.8em;
    color: $light-grey;
    
    a { color: lighten($primary-color, 40); }
    a:hover { color: inherit; }
  }
  
  .socialbar {
    @include grid-column(4);
    
    img {
      height: 1.5em;
      float: right;
      margin: 0.5em;
      
      @include breakpoint(medium) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    
    a {
      transition: 0.2s ease-in-out 0s;
      &:hover {
        opacity: 0.6;
        transition: 0.2s ease-in-out 0s;
      }
    }
  }  
}


// HOME PAGE

.splash {
  height: 40em;
  background-color: $light-grey;
  
  .logo {
    @include grid-column(10);
    @include grid-column-offset(1);
    
    @include breakpoint(medium) {
      @include grid-column(6);
      @include grid-column-offset(3);
    }
    
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  .tagline {
    @inlcude grid-row;
    @include grid-column(12);
    margin-bottom: 2em;
    font-size: 1.3em;
    @extend %serif;
    text-align: center;
    
      
    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);
      font-size: 1.4em;
    }

  }
  
  .aboutblurb {
    @include grid-column(12);
    padding-top: 5px;
    text-align: center;

    @include breakpoint(medium) {
      @include grid-column(4);
      @include grid-column-offset(1);
    }
  
  }
  
  .emailform {
    @include grid-column(10);
    @include grid-column-offset(1);
    padding-top: 2em;
    
    @include breakpoint(medium) {
      @include grid-column(4);
      @include grid-column-offset(2);
    }
      
    @include grid-column-end;
  }
  
  #mc-embedded-subscribe {
    @include grid-column(12);
    @include button;
    
    margin-right: 0;
  }
}

.about {
  margin: 3em auto;
}

.partners {
  height: 20em;
  background-color: $light-grey;
}


// PROGRAM

#programHeader {
  background-color: $primary-color;
  
  
 h2 { 
  text-align: center; 
  color: #eee;
  }
  
}
.programWrapper {
  
  section {
    @include grid-column(12);
    @include grid-column-collapse;
    
  }
}

.sidebar {
  @include grid-column(12);

  @include breakpoint(medium) {
      @include grid-column(3);
  }
  
  padding: 1em;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  

}


.programContent {
  @include grid-column(12);
  
  @include breakpoint(medium) {
    @include grid-column(9);
    @include grid-col-pos(3);
  }
}


#ourMission { 
  background-color: $light-grey;
}

#format {

}

#importantDates {
  
}

#lookingFor {
  background-color: $light-grey;
}


// FAQ

#faqlinks {
  height: 20em;
  background-color: $dark-grey; 
  
  
  h2 { 
    text-align: center; 
    color: #eee;
  }
  
  a {
    font-weight: bold;
    color: lighten($primary-color, 40); 
  }
  
  a:hover {
    color: #959595;
  }
}

.backtotop {
  @include grid-column(12);
  padding: 0.5em;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  z-index: 2;
}

#faqanswers {
  @include grid-column(10);
  @include grid-column-offset(1);
  @include grid-column-end;
  
  @include breakpoint(medium) {
    @include grid-column(8);
    @include grid-column-offset(2);
    @include grid-column-end;
  }

  p {
    padding-bottom: 1em;
  }
  
  h3 { 
    color: $primary-color; 
    font-weight: 500;
  }
}

body {
  background:#fff;
}

.header.panel {
  margin: 3rem auto;
  border: 2px solid $light-grey;
  background: $light-grey;
  
  p {
    font-family: 'Roboto Slab';
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem;
    
    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold;
    }
  }
  
  .sign {
    background: $light-grey;
    width: 300px;
    height: 2.4rem;
    border: 2px solid #fff;
    position: relative;
    top: -2.5rem;
    margin: auto;
    
    h1 {
        text-transform: uppercase;
      font-family: 'Roboto Slab';
        font-weight: bold;
        font-size: 7rem;
      letter-spacing: 3px;
      color: #444;
      font-size: 70%;
      text-align: center;
      line-height: 2rem;
    }
  }
}
